body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/static/img/Fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    gap: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    padding: 25px;
    max-width: 1200px;
    width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.form-container {
    flex: 2;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #064273;
    text-align: center;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], select, input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #064273;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #052b57;
    transform: scale(1.02);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .logo-container, .form-container {
        flex: unset;
    }
}
